<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:lang="http://www.springframework.org/schema/lang" 
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/aop 	
	   http://www.springframework.org/schema/aop/spring-aop.xsd	
	   http://www.springframework.org/schema/tx 	
	   http://www.springframework.org/schema/tx/spring-tx.xsd   	
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd
	   http://www.springframework.org/schema/task 
	   http://www.springframework.org/schema/task/spring-task.xsd"
	default-autowire="byName">

	<context:component-scan base-package="com.dt.tarmag.schedule" />

	<task:scheduler id="scheduler" pool-size="10"/>
	<task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="residentKeyJob" method="execute" cron="0 0 * * * ?" />
		<task:scheduled ref="consumeRecordYhdJob" method="execute" cron="0 0/10 * * * ?" />
		<task:scheduled ref="propertyChargeJob" method="execute" cron="0 0 1 1 * ?" />
	</task:scheduled-tasks>

</beans>
